/* Main Layout Stylesheet */

/******************************************** Global *******************************************/

/* Webfont format, use lower case letters in url to avoid unexpected results in IE */
@font-face {
    font-family: 'clobber-grotesk-medium';
    src: url('../fonts/clobber-grotesk-medium.woff2') format('woff2'),
    url('../fonts/clobber-grotesk-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Set max-width: 100; for all elements */
* {
    max-width: 100%;
}    

/* Show div id/class names for clarity purposes if required when developing */
/* *:before {
    content: attr(class);
    position: absolute;
    color: green;
} */    

/* *:after {
    content: attr(class);
    position: absolute;
    color: green;
}  */ 

/********************************************* Body ********************************************/

body {
    font-family: 'clobber-grotesk-medium', 'Trebuchet MS', sans-serif;
    color: #323232;
    max-width: 100%;
}

    .wrapper {
        position: relative;
        margin: 0 auto;
        width: 939px;
        max-width: 100%;
        background: #fff;
        box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
    }

        /******************************************** Header *******************************************/

        header {
            display: block;
            position: relative;
            max-width: 100%;
            width: 939px;
            height: 235px;
            margin: 0 auto;
            text-align: center;
            background: url("../images/header-bg.png") no-repeat top center;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
        }

            .header-content-wrapper {
                display: block;
                width: 680px;
                height: 220px;
                position: absolute;
                top: 50%;
                right: 0;
                bottom: 0;
                left: 0;
                transform: translateY(-50%);
                margin-left: auto;
                margin-right: auto;
            }

                .header-content-wrapper a {
                    text-decoration: none;
                }

                /************************* Header (Cartoon, Business Title, Contact Info) **********************/

                .header-cartoon {
                    display: inline;
                }

                .header-info-wrapper {
                    width: 494px;
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 15px;
                }

                    .header-info-wrapper img {
                        width: 457px;
                        height: 108px;
                    }

                    .header-contact-info {
                        display: inline-block;
                        width: 457px;
                        margin-top: 3px;
                    }

                        .header-mobile {
                            float: left;
                            font-size: 22px;
                            color: #323232;
                        }

                            .header-mobile:hover {
                                color: #077EBE;
                            }

                        .header-email {
                            float: right;
                            font-size: 22px;
                            color: #323232;
                        }

                            .header-email span {
                                font-weight: bold;
                            }

                            .header-email:hover {
                                color: #077EBE;
                            }

                /************************************* Header Navigation Bar ***********************************/

                    .header-nav {
                        height: 37px;
                        width: 100%;
                        background-color: #f2f2f2;
                        border-radius: 5px;
                        border: 1px solid #A69B9B;
                        box-shadow: 0px 3px 4px rgba(0,0,0,0.25);
                        margin-top: 11px;
                        box-sizing: border-box;
                    }        

                        .header-nav-ul {
                            display: flex;
                            justify-content: space-around;
                            padding-top: 11px;
                        }   

                            .header-nav-ul a, .header-nav-ul a:link {
                                text-decoration: none;
                                color: #323232;
                            }  

                            .header-nav-ul a:hover {
                                color: #077EBE;
                            }

                            .current-page {
                                text-decoration: underline;
                            }

        /********************************************* Main ********************************************/

        main {
            box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
        }

        /*************************************** Contact Section ***************************************/

        .contact {
            width: 939px;
            box-sizing: border-box;
            padding-top: 40px;
            padding-bottom: 13px;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
        }

            .contact h1 {
                font-size: 26px;
                text-align: center;
            }

            .contact p {
                font-size: 14px;
                text-align: center;
            }

            /************************************* Contact (Call Button) ***********************************/

            .contact-heading-2 {
                margin-top: 48px;
            }     

            .call-button {
                width: 289px;
                height: 79px;
                margin: 0 auto;
                position: relative;
                margin-top: 4px;
            }

                .call-button img {
                    position: absolute;
                    top: 0px;
                    left: 11px;
                    z-index: 1;
                } 

                .call-button-bg {
                    width: 285px;
                    height: 56px;
                    background: linear-gradient(rgba(98, 174, 215, 1), rgba(7, 126, 190, 1));
                    border: 2px solid rgba(6, 118, 179, 1);
                    border-radius: 25px;
                    box-sizing: border-box;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                    .call-button-bg p {
                        width: 206px;
                        height: 30px;
                        color: #fff;
                        font-size: 30px;
                        text-align: center;
                        text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25); 
                        margin-left: 56px;
                        margin-top: 10px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }

            /************************************* Contact (Email Button) **********************************/

            .contact-heading-3 {
                margin-top: 40px;
            }

            .email-button {
                width: 365px;
                height: 56px;
                margin: 0 auto;
                position: relative;
                background-color: #077EBE;
                border-radius: 25px;
                margin-top: 14px;
            }

                .email-button img {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 20px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .email-button p {
                    width: 263px;
                    height: 24px;
                    color: #fff;
                    font-size: 22px;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 82px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

            /************************************* Contact (Contact Form) **********************************/

            .contact-heading-4 {
                margin-top: 54px;
            }

            .contact-instruction {
                margin-top: 10px;
            }

            #home form {
                width: 661px;
                max-width: 100%;
                height: 257px;
                margin: 0 auto;
                position: relative;
                margin-top: 23px;
            }

                .contact-details {
                    border-radius: 5px;
                    font-family: 'clobber-grotesk-medium', 'Trebuchet MS', sans-serif;
                    font-size: 18px;
                    color: rgba(0,0,0,0.8);
                    padding-left: 8px; 
                    height: 40px;
                    background-color: #fff;
                    opacity: 0.8;
                    border: 1px solid #b4b4b4;
                    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2);
                    box-sizing: border-box;
                }
                
                    .contact-details::placeholder {
                        font-family: 'clobber-grotesk-medium', 'Trebuchet MS', sans-serif;
                        font-size: 20px;
                        color: rgba(0,0,0,0.25);
                    }

                .message-and-submit {
                    width: 661px;
                    max-width: 90vw;
                    height: 196px;
                    display: block;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                    textarea {
                        font-family: 'clobber-grotesk-medium', 'Trebuchet MS', sans-serif;
                        font-size: 18px;
                        color: rgba(0,0,0,0.8);
                        padding-left: 8px;
                        padding-top: 5px;
                        width: 661px;
                        height: 135px;
                        resize: none;
                        display: block;
                        line-height: 25px;
                        margin-left: auto;
                        margin-right: auto;
                        box-sizing: border-box;
                        border-radius: 5px;
                        border: 1px solid #b4b4b4;
                        opacity: 0.8;
                        box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.2);
                    }
                
                        textarea::placeholder {
                            font-family: 'clobber-grotesk-medium', 'Trebuchet MS', sans-serif;
                            font-size: 20px;
                            color: rgba(0,0,0,0.26);
                        }
                
                    input[type=submit] {
                        width: 207px;
                        height: 42px;
                        border-radius: 5px;
                        display: inline-block;
                        position: absolute;
                        border: none;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: 0 auto;
                        font-family: 'clobber-grotesk-medium', 'Trebuchet MS', sans-serif;
                        font-size: 22px;
                        color: #fff;
                        background-color: #077EBE;
                        box-sizing: border-box;
                        cursor: pointer;
                    }

            .contact-error {
                color: red;
                font-size: 14px;
                text-align: center;
                margin-top: 10px;
            }  

        /******************************************** Footer *******************************************/

            /**************************************** Footer (Logos) ***************************************/

            .footer-logos {
                height: 165px;
                box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
            }
            
                .footer-logos-internal {
                    width: 600px;
                    height: 165px;
                    margin: 0 auto;
                    position: relative;
                }
            
                    .footer-logos-internal p {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        text-align: center;
                        font-size: 14px;
                        color: #888;
                        margin-bottom: 21px;
                    }

                    .logo-qbcc-wrapper {
                        width: 148px;
                        height: 165px;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                        .img-logo-wrapper {
                            height: 130px;
                            position: relative;    
                        }

                            .logo-qbcc {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                display: block;
                                height: 96px;
                                margin: 0 auto;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                    
                    .logo-australia-wrapper {
                        width: 202px;
                        height: 165px;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        margin: 0 auto;
                    }

                        /* See above for .img-logo-wrapper */

                            .logo-australia {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                display: block;
                                height: 116px;
                                margin: 0 auto;
                                top: 50%;
                                transform: translateY(-50%);
                            }

                    .logo-award-wrapper {
                        width: 144px;
                        height: 165px;
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                        /* See above for .img-logo-wrapper */

                            .logo-award {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                display: block;
                                height: 114px;
                                margin: 0 auto;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        
            /********************************** Footer (Links and Copyright) *******************************/

            .footer-links {
                position: relative;
                display: block;
                width: 939px;
                height: 60px;
                background: #2d2d2d;
            }
            
                .footer-links ul {
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    width: 322px;
                    height: 12px;
                    margin-left: auto;
                    margin-right: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin-top: 13px;
                }
            
                    .footer-links li {
                        display: block;
                        flex: 0 1 auto;
                        color: #cfcfcf;
                        font-size: 12px;
                    }
            
                .footer-links a {
                    text-decoration: none;
                    color: #cfcfcf;
                    font-size: 12px;
                }
                
                .footer-links a:hover {
                    color: #fff;
                }
                
                .copyright {
                    text-align: center;
                    color: #cfcfcf;
                    font-size: 12px;
                }



/* Media Query, Less than 560px */

@media only screen and (max-width: 560px) {

/********************************************* Body ********************************************/

        /******************************************** Header *******************************************/
        
        header {
            background: url("../images/header-bg-nostripe.png") no-repeat top center;
            box-shadow: none;
        }
		
                /************************* Header (Cartoon, Business Title, Contact Info) **********************/

                .header-cartoon {
                    display: none;
                }

                .header-info-wrapper {
                    margin-top: 0px;
                    width: 100%
                }

                    .header-info-wrapper img {
                        max-width: 90vw;
                        height: auto;
                        max-height: 86px;
                        margin-top: 1vw;
                        margin-bottom: 5px;
                    }

                    .header-contact-info {
                        padding-top: 8px;
                        padding-bottom: 18px;
                        width: 100%;
                    }

                        .header-contact-info a, .header-contact-info a:link {
                            text-decoration: none;
                        }

                        .header-mobile {
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 6px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            float: none;
                            background: linear-gradient(rgba(98, 174, 215, 1), rgba(7, 126, 190, 1));
                            border: 2px solid rgba(6, 118, 179, 1);
                            border-radius: 25px;
                            box-sizing: border-box;
                            color: #fff;
                            max-width: 95%;
                            width: 320px;
                        }

                            .header-mobile:hover {
                                color: #fff;
                            }

                        .header-email {
                            display: block;
                            margin: 0 auto;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            background: linear-gradient(rgb(87, 166, 209), rgb(3, 117, 179));
                            border: 2px solid rgba(6, 118, 179, 1);
                            border-radius: 25px;
                            box-sizing: border-box;
                            color: #fff;
                            max-width: 95%;
                            width: 320px;
                            float: none;
                        }

                            .header-email:hover {
                                color: #fff;
                            }
				
                /************************************* Header Navigation Bar ***********************************/
                
                .header-nav {
                    height: auto;
                    width: auto;
                    background-color: #fff;
                    border: none;
                    box-shadow: none;
                    margin-top: 0px;
                    box-sizing: border-box;
                }

                    .header-nav-ul {
                        display: block;
                        padding-top: 0px;
                    }

                        .nav-list-item {
                            position: relative;
                            display: block;
                            border-bottom: 2px solid #fff;
                            background: #077EBE;
                            color: #fff;
                            height: 40px;
                        }
                        
                            .nav-list-item a:hover {
                                color: #077EBE;
                            }

                            .nav-list-item p {
                                position: absolute;
                                top: 50%;
                                right: 0;
                                left: 0;
                                transform: translateY(-50%);
                                vertical-align: middle;
                                height: 14px;
                            }

                        .current-page {
                            background: rgb(77, 166, 214);
                        }
				
		/********************************************* Main ********************************************/
		
		/*************************************** Contact Section ***************************************/
		
            /************************************* Contact (Call Button) ***********************************/
            
            .email-button {
                width: 295px;
            }

                .email-button img {
                    display: none;
                }

                .email-button p {
                    font-size: 22px;
                    margin-left: auto;
                    margin-right: auto;
                }
			
			/************************************* Contact (Email Button) **********************************/
			
            /************************************* Contact (Contact Form) **********************************/
            
            .contact-heading-4, .contact-instruction {
                max-width: 95%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
 
            #home form {
                height: 375px;
            }

                .contact-details {
                    max-width: 95%;
                    width: 300px;
                }

                input[type=text] {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                }
                
                input[type=email] {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                }
                
                input[type=tel] {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                }

                    input[type=submit] {
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                    }
			
		/******************************************** Footer *******************************************/
		
            /**************************************** Footer (Logos) ***************************************/
            
            .footer-logos {
                display: none;
            }
			
			/********************************** Footer (Links and Copyright) *******************************/

                .footer-links ul {
                    display: none;
                }

                .copyright {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    left:  0;
                    transform: translateY(-50%);
                }

                    .copyright-sentence-1 {
                        display: block;
                    }

                    .copyright-pipe {
                        display: none;
                    }

                    .copyright-sentence-2 {
                        display: block;
                        margin-top: 6px;
                    }

}



/* Media Query, 560px to 700px */

@media only screen and (min-width: 560px) and (max-width: 700px) {

/********************************************* Body ********************************************/

		/******************************************** Header *******************************************/
		
                /************************* Header (Cartoon, Business Title, Contact Info) **********************/
                
                .header-cartoon {
                    display: none;
                }
				
				/************************************* Header Navigation Bar ***********************************/
				
		/********************************************* Main ********************************************/
		
		/*************************************** Contact Section ***************************************/
		
			/************************************* Contact (Call Button) ***********************************/
			
			/************************************* Contact (Email Button) **********************************/
			
            /************************************* Contact (Contact Form) **********************************/
            
            .contact-instruction {
                max-width: 95%;
                margin-left: auto;
                margin-right: auto;
            }

            #home form {
                height: 375px;
            }

                .contact-details {
                    width: 300px;
                }

                input[type=text] {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                }
                
                input[type=email] {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                }
                
                input[type=tel] {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                }
			
		/******************************************** Footer *******************************************/
		
			/**************************************** Footer (Logos) ***************************************/
			
			/********************************** Footer (Links and Copyright) *******************************/

                .copyright {
                        position: absolute;
                        margin-top: 35px;
                        right: 0;
                        left:  0;
                    }

}



/* Media Query, Larger than 700px */

@media only screen and (min-width: 700px) {

/********************************************* Body ********************************************/

body {
    background: url("../images/bg.png") no-repeat top center;
    background-size: cover;
}

		/******************************************** Header *******************************************/
		
				/************************* Header (Cartoon, Business Title, Contact Info) **********************/
				
				/************************************* Header Navigation Bar ***********************************/
				
		/********************************************* Main ********************************************/
		
		/*************************************** Contact Section ***************************************/
		
			/************************************* Contact (Call Button) ***********************************/
			
			/************************************* Contact (Email Button) **********************************/
			
            /************************************* Contact (Contact Form) **********************************/
            
                .contact-details {
                    width: 210px;
                }

                input[type=text] {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                
                input[type=email] {
                    display: inline-block;
                    margin: 0 auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
                
                input[type=tel] {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .message-and-submit {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
            
                }
			
		/******************************************** Footer *******************************************/
		
			/**************************************** Footer (Logos) ***************************************/
			
            /********************************** Footer (Links and Copyright) *******************************/
            
                .copyright {
                    position: absolute;
                    margin-top: 35px;
                    right: 0;
                    left:  0;
                }
    
} 